<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Welcome to Virtual Class Management, <%= @user.name %></h3>
    <p>
      You are invited by <%= @user.invited_by.name %> on Virtual Class Management.</p>
    <p>
      To setup your account, just follow this link: <%= link_to 'click here', @url %>.
    </p>
    <p>Thanks!</p>
  </body>
</html>
