<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to BigBlueButton!, <%= @user.name %></h1>
    <p>
      You are invited by <%= @user.invited_by.name %> on Greenlight.</p>
    <p>
      To setup your account, just follow this link: <%= link_to 'click here', @url %>.
    </p>
    <p>Thanks, have a great day!</p>
  </body>
</html>
