<div class="modal fade" id="bbb_server" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content text-center">
      <div class="modal-body">
        <div class="card-body p-6">
          <div class="card-title">
            <h3>Change your server</h3>
          </div>
          <%= form_for current_user, url: "/users_update/#{current_user.uid}", method: :put do |f|  %>
            <%= f.hidden_field :type, value: 'bbb_server' %>
            <div class="input-icon">
              <span class="input-icon-addon">
                <i class="fa fa-server"></i>
              </span>
              <%= f.select :bbb_server_id, current_user.bbb_servers.map {|server| [server.name,server.id]}, {}, { class: "form-control custom-select" }%>
            </div>
            <div class="form-footer">
              <%= f.submit "Save", class: "btn btn-outline-primary btn-block btn-pill" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>